[submodule "extensions/eab-misc"]
	path = extensions/eab-misc
	url = http://github.com/boykov/eab-misc
[submodule "extensions/eab-dotemacs"]
	path = extensions/eab-dotemacs
	url = http://github.com/boykov/eab-dotemacs
[submodule "extensions/eab-ace-jump-mode"]
	path = extensions/eab-ace-jump-mode
	url = http://github.com/boykov/ace-jump-mode
[submodule "extensions/eab-org-mode"]
	path = extensions/eab-org-mode
	url = git://orgmode.org/org-mode.git
